[gcode_macro START_PRINT]
gcode:
  #Get Printer built volume dimensions
  {% set X_MAX = printer.toolhead.axis_maximum.x|default(100)|float %}
  {% set Y_MAX = printer.toolhead.axis_maximum.y|default(100)|float %}
  {% set Z_MAX = printer.toolhead.axis_maximum.z|default(100)|float %}

  #Get Bed and Extruder temperature from Slicer GCode
  {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
  {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}

  #Preheat nozzle and bed
  LIGHTS_HEATING
  PREHEAT EXTRUDER_TEMP={EXTRUDER_TEMP} BED_TEMP={BED_TEMP}

  #Home
  G28

  # Mesh
  BED_LEVEL

  #Heat nozzle and bed
  Smart_Park
  HEAT EXTRUDER_TEMP={EXTRUDER_TEMP} BED_TEMP={BED_TEMP}

  FILAMENT_CAPTURE

  VORON_PURGE
  LIGHTS_PRINTING
